@model CommentViewModel


<form asp-action="PostComment" method="post" role="form">
    <div class="row control-group">
        <div class="form-group col-xs-8 floating-label-form-group controls">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control type-direction" placeholder = "نام" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-8 floating-label-form-group controls">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control left-text" placeholder = "ایمیل" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label asp-for="WebSite"></label>
            <input asp-for="WebSite" class="form-control left-text" placeholder = "سایت" />
            <span asp-validation-for="WebSite" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label asp-for="Message"></label>
            <input asp-for="Message" class="form-control type-direction" placeholder = "پیام" />
            <span asp-validation-for="WebSite" class="text-danger"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default pull-left">ارسال</button>
        </div>
    </div>
</form>