.metro header {
    margin-bottom: 45px;
}

.metro .navigation-bar, .metro .navbar {
    background-color: inherit;
}

#totalNewMessages {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.metro .dropdown-menu.menu > li > a {
    display: block;
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
    line-height: 20px;
    padding: 10px 5px 10px 5px !important;
    white-space: nowrap;
}

    .metro .dropdown-menu.menu > li > a > h4 {
        padding: 0;
        margin: 0 5px 0 0;
        color: #444;
        font-size: 12px;
    }

        .metro .dropdown-menu.menu > li > a > h4 > small {
            color: #999;
            font-size: 10px;
            float: right;
            margin-left: 5px;
        }


            .metro .dropdown-menu.menu > li > a > h4 > small > span {
                vertical-align: middle;
                font-size: 12px !important;
            }

    .metro .dropdown-menu.menu > li > a > p {
        margin: 0 5px 0 0;
        font-size: 12px;
        color: #888;
    }

.metro .dropdown-menu.menu > li.footer > a {
    font-size: 12px;
    background-color: #f4f4f4;
    padding: 7px 10px;
    border-bottom: 1px solid #eee;
    color: #444;
    text-align: center;
}

.metro .tile.quadro-vertical {
    height: 100%;
}

.metro .tile .brand {
    top: 41px;
}

.metro .brand .sidebar {
    background-color: inherit;
    position: fixed;
    width: 250px;
}

.metro .container .row .content-header {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    padding: 15px 15px 10px 20px;
}
