@using MyBlog.Web.Models.AccountViewModels
@model ChangePasswordViewModel

@{
    ViewBag.Title = "تغییر رمز عبور";
}

<div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0">
    <h2>تغییر رمز عبور</h2>
    <form method="post" asp-action="ChangePassword" class="form-horizontal" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <hr />
        <div class="row control-group">
            <div class="form-group col-xs-8 floating-label-form-group controls">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="left-text form-control" placeholder="Old Password"/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-8 floating-label-form-group controls">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="left-text form-control" placeholder="New Password"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-8 floating-label-form-group controls">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="left-text form-control" placeholder="Confirm New Password"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-xs-8">
                <button type="submit" class="btn btn-default pull-left">Change</button>
            </div>
        </div>
    </form>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>