@model IEnumerable<MyBlog.Core.Entities.TagEntity>

<div class="col-lg-3 col-md-2 ">
    <div id="tagList">
        <h3>تگها</h3>
        <ul>
            @foreach (var tag in Model)
            {
                <li><a asp-action="PostsByTag" asp-controller="Posts" asp-route-slug="@tag.Slug">@tag.Name</a></li>
            }
        </ul>
    </div>
</div>