@model IEnumerable<MyBlog.Domain.PostEntity>

@{
    ViewBag.Title = "صفحه اصلی";
}

@foreach (var post in Model)
{
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                @post.Title
            </h2>
            <h3 class="post-subtitle">
                @Html.Raw(post.Content.TruncateHtml(100))
            </h3>
        </a>
        <p class="post-meta">
            تگها: @foreach (var tag in post.Tags)
            {<text>@tag.Name </text>}
            <a href="#">در تاریخ: </a> @post.CreateDate.ToJalaliDateTimeString()
        </p>
    </div>
}

<!-- Pager -->
<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>