@{
    ViewBag.Title = "درباره";
}

@section header {
    @Html.GenerateMetaTag(
        "محسن اسماعیل پور, Mohsen Esmailpour, بلاگ من, .net, c#, asp.net mvc, entity framework, javascript, jquery, web api",
                "I'm newbie software developer with a particular interest in web technologies and creating web application with Microsoft technologies.",
        true, true, "محسن اسماعیل پور (http://www.mohsen.es)")
    @Styles.Render("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
}

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="text-align: center">
    <p>هر چی فکر کردم چیزی به ذهنم نرسید که بنویسیم. شاید در آینده بیشتر فکر کردم !</p>
    @*<p>
            <a href="http://stackoverflow.com/users/1385614/mo-esmp" target="_blank">
                <img src="http://stackexchange.com/users/flair/1474979.png" width="208" height="58" alt="profile for mo.esmp on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for mo.esmp on Stack Exchange, a network of free, community-driven Q&amp;A sites">
            </a>
        </p>*@
    <div class="social">
        <div class="menu-item">
            <span id="active" class="icon fa fa-twitter" style="display: block;"></span>
            <a id="hover" class="text" href="https://twitter.com/moesmp">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        <div class="menu-item">
            <span id="active" class="icon fa fa-linkedin" style="display: block;"></span>
            <a id="hover" target="_blank" class="text" href="http://ir.linkedin.com/pub/mohsen-esmailpour/51/38b/827">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="menu-item">
            <span id="active" class="icon fa fa-google-plus" style="display: block;"></span>
            <a id="hover" target="_blank" class="text" href="https://plus.google.com/u/0/+MohsenEsmailpour">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
        <div class="menu-item">
            <span id="active" class="icon fa fa-stack-overflow" style="display: block;"></span>
            <a id="hover" target="_blank" class="text" href="http://stackoverflow.com/users/1385614/mo-esmp">
                <i class="fa fa-stack-overflow"></i>
            </a>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            $('.menu-item').hover(function () {
                $('#active', this).toggleClass('active');
                $('#active', this).css({ 'display': 'block' }); //adds context
            });
        });
    </script>
}