body, p {
    font-family: 'Iran Sans', Tahoma, Arial !important;
    font-size: 14px;
}

p {
    line-height: 1.6
}

.post-preview > a > .post-subtitle {
     font-family: 'Iran Sans', Tahoma, Arial !important;
}

.post-preview > .post-meta {
    font-size: 14px;
}