<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
</head>
<body dir="rtl">
    <div style="margin: 10px auto; width: 600px;">
        @RenderBody()
    </div>
</body>
</html>

