<div style="position: relative; margin-bottom: 20px; background-color: #ffffff; border-radius: 2px;">

    <!-- header -->
    <div style="font-family: tahoma; font-size: 11px;position: relative; height: 40px; line-height: 36px; color: #ffffff; background-color: #37bc9b; border-color: #37bc9b; font-size: 13px; font-weight: 600; padding: 0 8px; border: 1px solid #e7e7e7; border-top-right-radius: 1px; border-top-left-radius: 1px;">
        <span class="panel-title"> پیام ارسالی از سایت</span>
    </div>

    <!-- info  -->
    <div style="position: relative; text-align: center; padding: 9px; color: #AAA; background-color: transparent; border-left: 2px dashed #d9d9d9; border-right: 2px dashed #d9d9d9; border-bottom: 1px solid #ddd;padding: 12px 9px;">
        <p style="font-family: tahoma; font-size: 11px; overflow: auto;">
            <span style="float: right">نام: @ViewBag.Name</span>
            <span style="direction:ltr; float: left">Email: @ViewBag.Email</span>
        </p>
    </div>

    <!-- body -->
    <div class="panel-body" style="background-color: #fafafa; border: 1px solid #e7e7e7; border-top: 0; position: relative; padding: 15px; display: block;">
        <p style="font-family: tahoma; font-size: 11px">
            @ViewBag.Message
        </p>
    </div>

</div>

